{
  "plugins": [
    ["@babel/plugin-transform-react-jsx", {
      "pragma": "WizBiz.createElement", // default pragma is React.createElement
      "throwIfNamespace": false // defaults to true
    }]
  ]
}
